@import "colors";

@mixin text($weight, $size, $spacing) {
    font-weight: $weight;
    font-size: $size;
    letter-spacing: $spacing;
}

@mixin header() {
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    height: 60%;
}

* {
    font-family: "Roboto Condensed", sans-serif !important;
}

body {
    background-color: $dark-gray;
    background-attachment: fixed;
}

// Icons

i.icon {
    font-family: Icons !important;
    margin: 0% 0.5% 0% 0.5%;
    transition: all 0.1s linear;
}

i.icon:hover {
    color: $yellow;
}

// Buttons

.ui.button {
    color: $white;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 0px;
    transition: all 0.1s linear;
    @include text(700, 1.1em, 0.2rem);
}

.ui.button:hover {
    color: $black;
    background-color: $white;
}

// Links

a {
    color: $yellow;
}

a:hover {
    color: $yellow;
}

// Navigation

.ui.secondary.menu {
    a.item {
        margin-top: 3%;
        color: $white;
        text-transform: uppercase;
        @include text(300, 1.1rem, 0.08em);
    }

    a.item:hover {
        color: $white;
    }
}

// Footer

.ui.footer {
    padding: 3%;
    color: $white;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: $black;

    i.icon {
        color: $white !important;
    }

    i.icon:hover {
        color: $yellow !important;
    }
}

// Home page

.wrapper {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.clock-container {
    text-align: center;
    margin-top: 3%;
}

.clock {
    display: inline-block;
    width: auto;
}

#main-container {
    height: 100vh;
    color: $white;

    h1.ui.header {
        margin: 0px;
        padding: 0px;
        color: $white;
        text-transform: uppercase;
        line-height: 1em;
        @include text(700, 8em, 0.05em);
    }

    h2.ui.header {
        margin: 0px;
        margin-bottom: 2%;
        padding: 0px;
        color: $white;
        text-transform: uppercase;
        font-style: italic;
        @include text(400, 2em, 0em);
    }

    .ui.grid {
        height: 70%;
    }
}

// Headers

.header.wrapper {
    @include header;

    .ui.container {
        height: 100%;
    }

    .ui.centered.header {
        margin-top: 5%;
        color: $white;
        text-transform: uppercase;
        @include text(700, 3em, 0.05em);
    }
}

// About page

.header.wrapper.about {
    background-image: url("../img/headers/about.jpg");
}

#about {
    padding: 5% 0% 5% 0%;

    h3.ui.header {
        margin: 0px;
        padding: 0px;
        color: $white;
        text-transform: uppercase;
        line-height: 1em;
        @include text(700, 2rem, 0.04em);
    }

    p {
        color: $gray;
        margin: 5% 0% 5% 0%;
        line-height: 1.375em;
        @include text(300, 1.1rem, 0.04em);
    }
}

// Show page

.header.wrapper.show {
    background-image: url("../img/headers/show.jpg");
}

#show {
    padding: 5% 0% 5% 0%;

    h2.ui.header {
        margin: 0px;
        padding: 0px;
        color: $white;
        text-transform: uppercase;
        line-height: 1em;
        @include text(400, 2.5rem, 0.125em);
    }

    p {
        color: $gray;
        margin: 2% 0% 4% 0%;
        line-height: 1.375em;
        @include text(300, 1.1rem, 0.04em);
    }

    p.meta {
        //margin-bottom: 0%;
        text-transform: uppercase;
        @include text(700, 1.1rem, 0.2em);
    }
}

// After party page

.header.wrapper.afterparty {
    background-image: url("../img/headers/club.jpg");
}

.subsection {
    background-color: #3FBFBF;
    background-image: url("../img/headers/lights.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#apinfo {
    color: $white;

    .ui.header {
        color: $black;
    }

    a:hover {
        text-decoration: none;
    }

    h3.ui.header {
        text-transform: uppercase;
        @include text(300, 4rem, 0.1em);
    }

    h4.ui.header {
        text-transform: uppercase;
        @include text(700, 1.8rem, 0.3em);
    }

    .wrapper-col {
        margin: 5% 0% 5% 0%;
    }

    .text {
        text-align: center;
        text-transform: uppercase;
        @include text(700, 1.1rem, 0.2em);
    }

    .box {
        padding: 10%;
        height: 350px;
        background-color: $white;
    }
}

// Get Involved page
.header.wrapper.getinvolved {
    background-image: url("../img/headers/participate.jpg");
    background-position: center !important;
}

#getinvolved {
    color: $white;
    padding-top: 5%;

    .ui.container {
        padding-bottom: 5%;
    }

    h2.ui.header {
        margin: 0px;
        padding: 0px;
        color: $white;
        text-transform: uppercase;
        line-height: 1em;
        @include text(400, 2rem, 0.125em);
    }

    p {
        color: $gray;
        margin: 2% 0% 4% 0%;
        line-height: 1.375em;
        @include text(300, 1.1rem, 0.04em);
    }
}

// Sponsors page
.header.wrapper.sponsors {
    background-image: url("../img/headers/sponsors.jpg");
}

#sponsors {
    color: $white;
    padding: 5% 0% 5% 0%;

    p {
        color: $gray;
        margin: 2% 0% 4% 0%;
        line-height: 1.375em;
        @include text(300, 1.1rem, 0.04em);
    }

    h2.ui.header {
        padding: 0px;
        color: $white;
        text-transform: uppercase;
        line-height: 1em;
        @include text(400, 2rem, 0.125em);
    }

    h2.ui.header:last-of-type {
        margin-top: 5%;
    }
}
