<div class="ui footer">
    <div class="ui center aligned container">
        <p>11.17.18 | Cut the Frills, Bring the Skills | <a href="https://texas-ica.com">Texas ICA</a></p>
        <p>Designed &amp; Developed by <a href="https://linkedin.com/in/shreydesai">Shrey Desai</a></p>
        <a href="https://www.facebook.com/JhalakDanceCompetition/"><i class="big facebook icon"></i></a>
        <a href="https://twitter.com/texasjhalak"><i class="big twitter icon"></i></a>
        <a href="https://www.youtube.com/user/TexasICA"><i class="big youtube play icon"></i></a>
        <a href="mailto:jhalak@utexas-ica.com"><i class="big mail icon"></i></a>
    </div>
</div>
