<div class="ui footer">
    <div class="ui center aligned container">
        <p>© 2017 Indian Cultural Association</p>
        <p>Designed &amp; Developed by <a href="#">Shrey Desai</a></p>
        <i class="big facebook icon"></i>
        <i class="big twitter icon"></i>
        <i class="big youtube play icon"></i>
        <i class="big mail icon"></i>
    </div>
</div>
