<div class="ui secondary menu">
    <div class="item">
        <img class="ui small image" src="img/logo.png">
    </div>
    <div class="right menu">
        <a id="home-nav" class="item" href="/">Home</a>
        <a id="about-nav" class="item" href="/about">About</a>
        <a id="show-nav" class="item" href="/show">Show</a>
        <a id="afterparty-nav" class="item" href="/afterparty">After Party</a>
        <a id="getinvolved-nav" class="item" href="/getinvolved">Get Involved</a>
        <a id="sponsors-nav" class="item" href="/sponsors">Sponsors</a>
    </div>
</div>
