<div class="ui footer">
    <div class="ui center aligned text container">
        <p>© 2017 Indian Cultural Association<br>Designed &amp; Developed by <a href="https://linkedin.com/in/shreydesai">Shrey Desai</a></p>
    </div>
</div>
