* {
  font-family: "Roboto", sans-serif; }

a {
  color: #198CFF;
  transition: all 0.1s linear; }

a:hover {
  color: #005BB7; }

body {
  background-color: #242423; }

#jhalak-logo {
  width: 120px; }

.ui.button {
  border-radius: 0rem; }

.ui.inverted.button {
  color: #242423;
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  border: 0px;
  text-transform: uppercase;
  font-size: 1.5em;
  box-shadow: inset 0px 0px 0px 0px #F5CB5C !important;
  transition: all ease 0.3s; }

.ui.inverted.button:hover {
  background-color: #F5CB5C;
  border-color: #F5CB5C;
  box-shadow: inset 0px 100px 0px 0px #F5CB5C !important; }

#landing-container {
  background-image: url("../img/background.jpg");
  background-size: cover; }

#landing {
  height: 100vh; }
  #landing h1, #landing p {
    color: #FFFFFF; }
  #landing h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 10em;
    text-transform: uppercase;
    margin: -3% 0%;
    letter-spacing: 35px; }
  #landing p {
    font-size: 1.5em; }
  #landing .ui.grid {
    height: 80%; }
  #landing .ui.secondary.menu {
    padding-top: 2%; }

#about-header, #teams-header, #participate-header {
  background-position: center;
  background-size: cover;
  padding: 2% 0%; }

#about-header {
  background-image: url("../img/header/about.jpg"); }

#teams-header {
  background-image: url("../img/header/teams.jpg"); }

#participate-header {
  background-image: url("../img/header/participate.jpg");
  background-position: top; }

#about, #teams, #participate {
  padding: 10%; }
  #about h1, #teams h1, #participate h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 8em;
    color: #FFFFFF; }

.ui.secondary.menu a.item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.1s linear; }

.ui.secondary.menu a.item:hover {
  background: none;
  color: #F5CB5C; }

.ui.header {
  color: #FFFFFF; }

#overview, #tickets, #partners, #venue, #liaison, #sponsor {
  padding: 2%;
  padding-bottom: 4%; }
  #overview .ui.header, #tickets .ui.header, #partners .ui.header, #venue .ui.header, #liaison .ui.header, #sponsor .ui.header {
    padding: 2%;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    text-transform: uppercase; }

#overview h1, #tickets h1, #partners h1, #venue h1 {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 5em;
  margin-bottom: 5%;
  background: #f5cb5c;
  background: -moz-linear-gradient(-45deg, #f5cb5c 50%, white 50%, white 50%);
  background: -webkit-linear-gradient(-45deg, #f5cb5c 50%, white 50%, white 50%);
  background: linear-gradient(135deg, #f5cb5c 50%, white 50%, white 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5cb5c', endColorstr='#ffffff',GradientType=1 );
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#stats {
  background-color: #242423;
  padding: 2%; }
  #stats h1, #stats h3 {
    font-family: "Roboto", sans-serif; }
  #stats h1 {
    color: #F5CB5C;
    font-size: 5em;
    text-align: center;
    margin: 0px; }
  #stats h3 {
    color: #FFFFFF;
    text-align: center;
    margin: 0px;
    text-transform: uppercase; }

#overview {
  background-color: #000000;
  border-bottom: 1px solid #F5CB5C; }
  #overview p {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    text-align: left; }

#overview-container, #tickets-container, #venue-container,
#partners-container {
  height: 100vh; }
  #overview-container .ui.grid, #tickets-container .ui.grid, #venue-container .ui.grid,
  #partners-container .ui.grid {
    height: 100%; }

#tickets {
  background-color: #000000;
  border-bottom: 1px solid #F5CB5C; }
  #tickets .ui.header {
    color: #FFFFFF; }
  #tickets h3 {
    color: #FFFFFF;
    margin: 0px;
    font-family: inherit;
    font-size: 2em;
    text-transform: uppercase; }
  #tickets .ui.image {
    margin-bottom: 5%; }
  #tickets .available {
    color: #06D6A0; }
  #tickets .sold.out {
    color: #EF476F; }
  #tickets .ui.inverted.button {
    margin-top: 2%;
    font-size: 1em; }

#partners {
  background-color: #000000; }
  #partners .ui.header {
    color: #242423; }

#venue {
  background-color: #000000;
  border-bottom: 1px solid #F5CB5C; }
  #venue p {
    color: #FFFFFF;
    text-align: left; }
  #venue .ui.inverted.button {
    margin-top: 2%;
    font-size: 1em;
    border-color: #FFFFFF;
    text-transform: capitalize;
    box-shadow: inset 0px 0px 0px 0px #F5CB5C !important; }
  #venue .ui.inverted.button:hover {
    box-shadow: inset 0px 100px 0px 0px #F5CB5C !important;
    background-color: #198CFF; }

#team1, #team2, #team3, #team4,
#team5, #team6, #team7, #team8 {
  border-bottom: 1px solid #FAFAFA; }
  #team1 .ui.grid, #team2 .ui.grid, #team3 .ui.grid, #team4 .ui.grid,
  #team5 .ui.grid, #team6 .ui.grid, #team7 .ui.grid, #team8 .ui.grid {
    height: 100vh; }
  #team1 h2, #team2 h2, #team3 h2, #team4 h2,
  #team5 h2, #team6 h2, #team7 h2, #team8 h2 {
    font-family: "Open Sans";
    font-size: 12em;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    line-height: 75%;
    margin-bottom: 7%; }

#team1, #team3, #team5, #team7 {
  color: #242423;
  background-color: #F5CB5C; }

#team2, #team4, #team6, #team8 {
  color: #FFFFFF;
  background-color: #242423; }

#liaison {
  background-color: #FFFFFF; }
  #liaison h2 {
    color: #242423; }
  #liaison .ui.inverted.button {
    margin-top: 2%;
    font-size: 1em;
    text-transform: capitalize;
    background-color: #242423;
    color: #FFFFFF; }
  #liaison .ui.inverted.button:hover {
    color: #FFFFFF; }

#sponsor {
  background-color: #242423; }
  #sponsor p {
    color: #FFFFFF; }
  #sponsor .ui.inverted.button {
    margin-top: 2%;
    font-size: 1em;
    text-transform: capitalize; }

.ui.footer {
  font-family: "Roboto", sans-serif;
  padding: 2%;
  background-color: #FFFFFF; }
