<!DOCTYPE html>
<html>
<head>
    <title>Jhalak - About</title>
    <% include ../partials/_css.ejs %>
    <% include ../partials/_meta.ejs %>
</head>
<body>
    <div class="header wrapper about">
        <div class="ui container">
            <% include ../partials/_menu.ejs %>
        </div>
    </div>

    <div id="about" class="ui container">
        <div class="ui three column stackable grid">
            <div class="column">
                <h3 class="ui header">Legends</h3>
                <p>Legends is a national collegiate Bollywood Fusion championships, showcasing the best teams from across the nation. Jhalak has been an official Legends partner competition since its debut in 2016. Jhalak enjoys the opportunity to collaborate and innovate with this championship, as well as other fusion competitions across the country.</p>
                <div class="ui small centered images">
                    <a href="http://www.legends.desidancenetwork.org/"><img class="ui image" style="width: 170px !important;" src="img/legends.png"></a>
                </div>
            </div>
            <div class="column">
                <h3 class="ui header">Jhalak</h3>
                <p>Hosted by the <a href="https://texas-ica.com">Indian Cultural Association</a> at The University of Texas at Austin, Jhalak is one of the only Bollywood Fusion dance competitions in America that removes production and props from the judging criteria. Every year, we invite 8 talented teams from around the nation to enjoy a memorable experience where they can cut the frills and bring the skills onstage. Our goal is to host a successful competition that allows teams to showcase the beauty of Bollywood Fusion, their talent, and their love for the art of dance. We aim to present our teams with a memorable experience and a true taste of Southern hospitality.</p>
                <p>~Cut the Frills, Bring the Skills~</p>
                <a href="http://texasjhalak.com"><img class="ui centered medium image" src="img/logo2017.jpg"></a>
            </div>
            <div class="column">
                <h3 class="ui header">AFSSA Partnership</h3>
                <p>This year, we are proud to be partnering with the Asian Family Support Services of Austin (AFSSA). AFSSA is a local nonprofit that helps immigrant families dealing with domestic violence and sexual assault. To reach their goal of abuse-free communities, AFSSA offers a variety of services like counseling, language interpretation services, and economic empowerment programs. If you are interested in learning more about this organization, please check out <a href="afssaustin.org">afssaustin.org</a>.</p>
                <a href="http://afssaustin.org"><img class="ui centered medium image" src="img/afssa.png"></a>
            </div>
        </div>
    </div>

    <% include ../partials/_footer.ejs %>
    <% include ../partials/_scripts.ejs %>
</body>
</html>
