<!DOCTYPE html>
<html>
<head>
    <title>Jhalak</title>
    <% include ../partials/_css.ejs %>
</head>
<body>
    <div class="header wrapper afterparty">
        <div class="ui container">
            <% include ../partials/_menu.ejs %>
        </div>
    </div>

    <div id="show" class="ui container">
        <h2 class="ui header">Official After Party</h2>
        <p class="meta info">
            <span>November 18</span><br>
            <span>Doors Open @ 10pm</span><br>
            <span>18+ to Enter</span><br>
            <span>21+ to Drink</span>
        </p>
        <div class="ui grid">
            <div class="nine wide column">
                <p>Integer in enim mattis, gravida elit at, auctor dolor. Maecenas urna massa, tempus eget sem sit amet, vestibulum elementum nisi. Ut aliquet odio id magna blandit molestie. Suspendisse et tortor nec massa interdum iaculis in ultricies sem. Integer tincidunt condimentum dolor quis vehicula. Vivamus euismod odio urna, ultrices hendrerit orci sagittis ac. Proin sed neque nec est posuere pharetra vitae et tellus.</p>
            </div>
            <div class="seven wide column"></div>
        </div>
        <div class="ui button">Tickets Coming Soon</div>
    </div>

    <div class="subsection">
        <div id="apinfo" class="ui container">
            <div class="ui middle aligned stackable grid">
                <div class="four wide column text wrapper-col">
                    <p>Also check out</p>
                </div>
                <div class="six wide column wrapper-col">
                    <div class="ui padded middle aligned grid">
                        <div class="ui row">
                            <a href="#"><div class="ui column box">
                                <h3 class="ui header">DJ Srimix</h3>
                                <h4 class="ui header">Integer in enim mattis gravida elit at</h4>
                            </div></a>
                        </div>
                    </div>
                </div>
                <div class="six wide column wrapper-col">
                    <div class="ui padded middle aligned grid">
                        <div class="ui row">
                            <a href="#"><div class="ui column box">
                                <h3 class="ui header">Beta Chi Theta</h3>
                                <h4 class="ui header">Integer in enim mattis gravida elit at</h4>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/_footer.ejs %>
    <% include ../partials/_scripts.ejs %>
</body>
</html>
