<!DOCTYPE html>
<html>
<head>
    <title>Jhalak</title>
    <% include ../partials/_css.ejs %>
</head>
<body>
    <div class="ui container">
        <% include ../partials/_menu.ejs %>
        <h1 class="ui centered header">Compete</h1>
    </div>

    <div class="ui container">
        <p>Integer in enim mattis, gravida elit at, auctor dolor. Maecenas urna massa, tempus eget sem sit amet, vestibulum elementum nisi. Ut aliquet odio id magna blandit molestie. Suspendisse et tortor nec massa interdum iaculis in ultricies sem. Integer tincidunt condimentum dolor quis vehicula. Vivamus euismod odio urna, ultrices hendrerit orci sagittis ac. Proin sed neque nec est posuere pharetra vitae et tellus.</p>
        <div class="ui four column stackable grid">
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
                <h3 class="ui header">UC Dhadak</h3>
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
                <h3 class="ui header">ATL Tanishq</h3>
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
                <h3 class="ui header">UTD Sharara</h3>
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
                <h3 class="ui header">ASU Andaaz</h3>
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
                <h3 class="ui header">GT Qurbani</h3>
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
                <h3 class="ui header">UTD Chalak</h3>
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
                <h3 class="ui header">ATL Satrangi</h3>
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
                <h3 class="ui header">NCSU Nazaare</h3>
            </div>
        </div>
    </div>

    <% include ../partials/_scripts.ejs %>
</body>
</html>
