<!DOCTYPE html>
<html>
<head>
    <title>Jhalak</title>
    <% include ../partials/_css.ejs %>
</head>
<body>
    <div class="header wrapper getinvolved">
        <div class="ui container">
            <% include ../partials/_menu.ejs %>
            <h1 class="ui centered header">Get Involved</h1>
        </div>
    </div>

    <div id="getinvolved">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <h2 class="ui header">Come Compete</h2>
                    <p>Integer in enim mattis, gravida elit at, auctor dolor. Maecenas urna massa, tempus eget sem sit amet, vestibulum elementum nisi. Ut aliquet odio id magna blandit molestie. Suspendisse et tortor nec massa interdum iaculis in ultricies sem. Integer tincidunt condimentum dolor quis vehicula. Vivamus euismod odio urna, ultrices hendrerit orci sagittis ac. Proin sed neque nec est posuere pharetra vitae et tellus.</p>
                    <div class="ui button">Compete Application</div>
                </div>
                <div class="eight wide column">
                    <img class="ui medium centered image" src="img/rectfiller.png">
                </div>
            </div>
        </div>

        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <h2 class="ui header">Be a Liaison</h2>
                    <p>Integer in enim mattis, gravida elit at, auctor dolor. Maecenas urna massa, tempus eget sem sit amet, vestibulum elementum nisi. Ut aliquet odio id magna blandit molestie. Suspendisse et tortor nec massa interdum iaculis in ultricies sem. Integer tincidunt condimentum dolor quis vehicula. Vivamus euismod odio urna, ultrices hendrerit orci sagittis ac. Proin sed neque nec est posuere pharetra vitae et tellus.</p>
                    <div class="ui button">Liaison Application</div>
                </div>
                <div class="eight wide column">
                    <img class="ui medium centered image" src="img/rectfiller.png">
                </div>
            </div>
        </div>

        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <h2 class="ui header">Be a Volunteer</h2>
                    <p>Integer in enim mattis, gravida elit at, auctor dolor. Maecenas urna massa, tempus eget sem sit amet, vestibulum elementum nisi. Ut aliquet odio id magna blandit molestie. Suspendisse et tortor nec massa interdum iaculis in ultricies sem. Integer tincidunt condimentum dolor quis vehicula. Vivamus euismod odio urna, ultrices hendrerit orci sagittis ac. Proin sed neque nec est posuere pharetra vitae et tellus.</p>
                    <div class="ui button">Volunteer Application</div>
                </div>
                <div class="eight wide column">
                    <img class="ui medium centered image" src="img/rectfiller.png">
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/_footer.ejs %>
    <% include ../partials/_scripts.ejs %>
</body>
</html>
