<!DOCTYPE html>
<html>
<head>
    <title>Jhalak - Get Involved</title>
    <% include ../partials/_css.ejs %>
    <% include ../partials/_meta.ejs %>
</head>
<body>
    <div class="header wrapper getinvolved">
        <div class="ui container">
            <% include ../partials/_menu.ejs %>
        </div>
    </div>

    <div id="getinvolved">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <h2 class="ui header">Come Compete</h2>
                    <p>Come and show your true talent without the use of any production, props, or theme! You can enjoy a memorable experience onstage while experiencing true Southern hospitality offstage. If you are interested in competing at Jhalak, please view our Registration Packet to learn more. All application materials are due September 29, 2017!</p>
                    <a href="https://www.dropbox.com/s/x75p01tpf18jbrs/jhalak-2017-registration.pdf?dl=0"><div class="ui button">Registration Packet</div></a>
                </div>
                <div class="eight wide column">
                    <img class="ui medium centered image" src="img/compete.jpg">
                </div>
            </div>
        </div>

        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <h2 class="ui header">Be a Liaison</h2>
                    <p>Liaisons are the glue that hold teams together, connecting Jhalak's goals of hospitality, safety, fun, and integrity seamlessly that weekend. Ideal liaisons should be ready to foster meaningful relationships with their teams, making sure to keep responsibility, organization, communication, and enthusiasm top of mind. Check out the Jhalak 2017 Liaison Application for more details!</p>
                    <a href="https://docs.google.com/document/d/17uRq7Xl7er1m1f2lBoyCcKHKY6pgFlem_Ve55-iWy2g/edit"><div class="ui button">Liaison Application</div></a>
                </div>
                <div class="eight wide column">
                    <img class="ui medium centered image" src="img/liaisons.jpg">
                </div>
            </div>
        </div>

        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <h2 class="ui header">Be a Volunteer</h2>
                    <p>Come help your favorite Hospitality Committee Chairs put on the best national dance competition in the South! Volunteers will be involved in every aspect of Jhalak, from greeting teams at the hotel to being backstage during the show. This is a chance to get creative, get involved, and get a chance to experience something like never before. Applications will be released soon, so be on the lookout! *Volunteer positions are restricted to UT Indian Cultural Association members. To join ICA and learn more about our organization, please visit <a href="https://texas-ica.com">www.texas-ica.com</a>!*</p>
                    <a href="https://goo.gl/forms/K8r5gTx3Jy6s2n6l1"><div class="ui button">Volunteer Application</div></a>
                </div>
                <div class="eight wide column">
                    <img class="ui medium centered image" src="img/volunteer.jpg">
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/_footer.ejs %>
    <% include ../partials/_scripts.ejs %>
</body>
</html>
