<!DOCTYPE html>
<html>
<head>
    <title>Jhalak</title>
    <% include ../partials/_css.ejs %>
</head>
<body>
    <div class="wrapper">
        <div id="main-container" class="ui container">
            <% include ../partials/_menu.ejs %>
            <div class="ui centered middle aligned grid">
                <div class="sixteen wide column">
                    <div class="ui center aligned text container">
                        <h1 class="ui header">Jhalak</h1>
                        <h2 class="ui header">~ Cut the Frills, Bring the Skills ~</h2>
                        <h2 class="ui header" style="font-style: normal; !important">11.17.18</h2>
                        <!--
                        <div class="clock-container">
                            <div class="clock"></div>
                        </div>
                        <div class="ui button">Get Tickets</div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/_scripts.ejs %>
</body>
</html>
