<!DOCTYPE html>
<html>
<head>
    <title>Jhalak - Participate</title>
    <% include ../partials/css.ejs %>
</head>
<body>

    <div id="participate-header">
        <div class="ui container">
            <div class="ui secondary menu">
                <div class="item">
                    <img class="ui tiny image" src="img/logo.png">
                </div>
                <div class="right menu">
                    <a class="item" href="/">Home</a>
                    <a class="item" href="/about">About</a>
                    <a class="item" href="/teams">Teams</a>
                    <a class="item" href="/participate">Participate</a>
                </div>
            </div>
            <div id="participate" class="ui center aligned container">
                <h1>PARTICIPATE</h1>
            </div>
        </div>
    </div>

    <div id="liaison">
        <div class="ui container">
            <h2 class="ui center aligned header">Become a Liaison</h2>
            <div class="ui middle aligned stackable grid">
                <div class="eight wide column">
                    <p>Jhalak is looking for LIAISONS for the best weekend of the fall semester. Check out and fill out the liaison application for Jhalak 2015!! The application deadline is on September 16th!</p>
                    <div class="ui inverted button">Learn More</div>
                </div>
                <div class="six wide column">
                    <img class="ui medium rounded image" src="img/liaison.jpg">
                </div>
            </div>
        </div>
    </div>

    <div id="sponsor">
        <div class="ui container">
            <h2 class="ui center aligned header">Become a Sponsor</h2>
            <div class="ui middle aligned stackable grid">
                <div class="six wide column">
                    <img class="ui medium rounded right floated image" src="img/sponsor.jpg">
                </div>
                <div class="eight wide column">
                    <p>We understand that you only want what is best for your product or service. ICA can help you with that. Through sponsoring ICA, you gain access to the Indian/South Asian demographic not only on the UT-Austin campus but also located in the general Austin area. By working with ICA, you can ensure that your message will be relevant and timely and you will be able to increase the awareness of your brand to this specific demographic.</p>
                    <p>Interested in sponsoring us? Download the the following documents. If you have any questions please do not hesitate to email us at jhalak@texas-ica.com and we will get in touch with you. Thank you!</p>
                    <div class="ui inverted button">Learn More</div>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/js %>
</body>
</html>
