<!DOCTYPE html>
<html>
<head>
    <title>Jhalak</title>
    <% include ../partials/_css.ejs %>
</head>
<body>
    <div class="header wrapper show">
        <div class="ui container">
            <% include ../partials/_menu.ejs %>
        </div>
    </div>

    <div id="show" class="ui container">
        <h2 class="ui header">Jhalak Show</h2>
        <p class="meta info">
            <span>November 18</span><br>
            <span>Doors Open @ 7pm</span><br>
            <span>Show Begins @ 7:30pm</span>
        </p>
        <div class="ui grid">
            <div class="nine wide column">
                <p>Integer in enim mattis, gravida elit at, auctor dolor. Maecenas urna massa, tempus eget sem sit amet, vestibulum elementum nisi. Ut aliquet odio id magna blandit molestie. Suspendisse et tortor nec massa interdum iaculis in ultricies sem. Integer tincidunt condimentum dolor quis vehicula. Vivamus euismod odio urna, ultrices hendrerit orci sagittis ac. Proin sed neque nec est posuere pharetra vitae et tellus.</p>
            </div>
            <div class="seven wide column"></div>
        </div>
        <div class="ui button">Tickets Coming Soon</div>
    </div>

    <% include ../partials/_footer.ejs %>
    <% include ../partials/_scripts.ejs %>
</body>
</html>
