<!DOCTYPE html>
<html>
<head>
    <title>Jhalak - Show</title>
    <% include ../partials/_css.ejs %>
    <% include ../partials/_meta.ejs %>
</head>
<body>
    <div class="header wrapper show">
        <div class="ui container">
            <% include ../partials/_menu.ejs %>
        </div>
    </div>

    <div id="show" class="ui container">
        <div class="ui middle aligned grid">
            <div class="eight wide column">
                <h2 class="ui header">Jhalak 2018</h2>
                <p class="meta info">
                    <span>Date: November 17, 2018</span><br>
                    <span>Venue: Hogg Auditorium</span><br>
                    <span>Show Starts: 6:30 PM</span><br>
                    <span>Doors Open: 6:00 PM</span><br>
                </p>
                <p>Come celebrate Jhalak's 18th year in showcasing 8 Bollywood Fusion dance teams compete in the heart of Austin, Texas!</p>
			<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="ZHRD7RVZPJVT4">
			<table>
			<tr><td><input type="hidden" name="on0" value="Tickets">Tickets</td></tr><tr><td><select name="os0">
				<option value="Jhalak 2018 Show Ticket">Jhalak 2018 Show Ticket $10.61 USD</option>
			</select> </td></tr>
			</table>
			<input type="hidden" name="currency_code" value="USD">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>-->
			<div class="ui button">All Pre-Sale Tickets Sold Out!</div> 
            </div>
            <div class="eight wide center aligned column" style="text-align: center;">
                <p id="hype"><iframe width="560" height="315" src="https://www.youtube.com/embed/4wHoEGFBzg4" frameborder="0" allowfullscreen></iframe></p>
            </div>
        </div>
		
    </div>

    <% include ../partials/_footer.ejs %>
    <% include ../partials/_scripts.ejs %>
</body>
</html>
