<!DOCTYPE html>
<html>
<head>
    <title>Jhalak - Show</title>
    <% include ../partials/_css.ejs %>
</head>
<body>
    <div class="header wrapper show">
        <div class="ui container">
            <% include ../partials/_menu.ejs %>
        </div>
    </div>

    <div id="show" class="ui container">
        <div class="ui middle aligned grid">
            <div class="eight wide column">
                <h2 class="ui header">Jhalak 2017</h2>
                <p class="meta info">
                    <span>Date: November 18, 2017</span><br>
                    <span>Venue: TBA</span><br>
                    <span>Show Starts: 6:00 PM</span><br>
                    <span>Doors Open: 5:30 PM</span><br>
                </p>
                <p>Come celebrate Jhalak's 17th year in showcasing 8 Bollywood Fusion dance teams compete in the heart of Austin, Texas!</p>
            </div>
            <div class="eight wide center aligned column" style="text-align: center;">
                <p id="hype">Jhalak 2017 Hype Video Coming Soon</p>
            </div>
        </div>
        <div class="ui button">Tickets Coming Soon</div>
    </div>

    <% include ../partials/_footer.ejs %>
    <% include ../partials/_scripts.ejs %>
</body>
</html>
