<!DOCTYPE html>
<html>
<head>
    <title>Jhalak</title>
    <% include ../partials/_css.ejs %>
</head>
<body>
    <div class="header wrapper sponsors">
        <div class="ui container">
            <% include ../partials/_menu.ejs %>
            <h1 class="ui centered header">Sponsors</h1>
        </div>
    </div>

    <div id="sponsors" class="ui container">
        <h2 class="ui header">Jhalak 2017 Sponsor List</h2>
        <p>Integer in enim mattis, gravida elit at, auctor dolor. Maecenas urna massa, tempus eget sem sit amet, vestibulum elementum nisi. Ut aliquet odio id magna blandit molestie. Suspendisse et tortor nec massa interdum iaculis in ultricies sem. Integer tincidunt condimentum dolor quis vehicula. Vivamus euismod odio urna, ultrices hendrerit orci sagittis ac. Proin sed neque nec est posuere pharetra vitae et tellus.</p>
        <div class="ui four column stackable grid">
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
            </div>
            <div class="center aligned column">
                <img class="ui rounded centered image" src="img/filler.jpg">
            </div>
        </div>

        <h2 class="ui header">Become a Sponsor</h2>
        <p>Integer in enim mattis, gravida elit at, auctor dolor. Maecenas urna massa, tempus eget sem sit amet, vestibulum elementum nisi. Ut aliquet odio id magna blandit molestie. Suspendisse et tortor nec massa interdum iaculis in ultricies sem. Integer tincidunt condimentum dolor quis vehicula. Vivamus euismod odio urna, ultrices hendrerit orci sagittis ac. Proin sed neque nec est posuere pharetra vitae et tellus.</p>
        <div class="ui button">View Sponsorship Packet</div>
    </div>

    <% include ../partials/_footer.ejs %>
    <% include ../partials/_scripts.ejs %>
</body>
</html>
