<!DOCTYPE html>
<html>
<head>
    <title>Jhalak - Sponsors</title>
    <% include ../partials/_css.ejs %>
    <% include ../partials/_meta.ejs %>
</head>
<body>
    <div class="header wrapper sponsors">
        <div class="ui container">
            <% include ../partials/_menu.ejs %>
        </div>
    </div>

    <div id="sponsors" class="ui container">
        <h2 class="ui header">Jhalak 2017 Sponsor List</h2>
        <p>We would like to thank our sponsors for all of their generous contributions towards Jhalak 2017. We are extremely grateful to them for making Jhalak possible!</p>
        <div class="ui four column stackable grid">
            <div class="center aligned column">
                <a href="http://liberalarts.utexas.edu/asianstudies/"><img class="ui rounded centered small image" src="img/sponsors/asianstudies.jpg"></a>
            </div>
            <div class="center aligned column">
                <a href="http://liberalarts.utexas.edu/plan2/"><img class="ui rounded centered small image" src="img/sponsors/plan2.jpeg"></a>
            </div>
            <div class="center aligned column">
                <a href="https://www.ischool.utexas.edu/"><img class="ui rounded centered small image" src="img/sponsors/info.jpg"></a>
            </div>
            <div class="center aligned column">
                <a href="https://www.dunkindonuts.com/en"><img class="ui rounded centered small image" src="img/sponsors/dunkin.jpg"></a>
            </div>
        </div>

        <h2 class="ui header">Become a Sponsor</h2>
        <p>Jhalak has had a consistently sold-out show for the past few years, a nationwide audience of over 4,000 through the show’s livestream, and a social media reach of over 45,000 people. Please view our Jhalak 2017 Sponsorship Packet to read more about how you can partner with us and promote your business! You can also contact the Jhalak 2017 Funding Directors, Marwa Gujarathi and Nikhita Pendekanti, at <a href="mailto:jhalak@texas-ica.com">jhalak@texas-ica.com</a> for more information.</p>
        <a href="https://drive.google.com/file/d/0B1B8wxmy4pzibXNfaVNycmQwZ1E/view" class="ui button">View Sponsorship Packet</a>
    </div>

    <% include ../partials/_footer.ejs %>
    <% include ../partials/_scripts.ejs %>
</body>
</html>
