<!DOCTYPE html>
<html>
<head>
    <title>Jhalak - Teams</title>
    <% include ../partials/css.ejs %>
</head>
<body>

    <div id="teams-header">
        <div class="ui container">
            <div class="ui secondary menu">
                <div class="item">
                    <img id="jhalak-logo" class="ui tiny image" src="img/logo.png">
                </div>
                <div class="right menu">
                    <a class="item" href="/">Home</a>
                    <a class="item" href="/about">About</a>
                    <a class="item" href="/teams">Teams</a>
                    <a class="item" href="/participate">Get Involved</a>
                </div>
            </div>
            <div id="teams" class="ui center aligned container">
                <h1>TEAMS</h1>
            </div>
        </div>
    </div>

    <div id="team1">
        <div class="ui container">
            <div class="ui middle aligned stackable grid">
                <div class="eight wide column">
                    <h2>UC Dhadak</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu placerat eros, sed interdum lectus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan nulla velit, ac maximus arcu vulputate tincidunt. Ut maximus elit quis tempor dictum. Duis ornare ac arcu nec varius.</p>
                </div>
                <div class="six wide right floated column">
                    <img class="ui centered medium rounded image" src="img/teams/team1.png">
                </div>
            </div>
        </div>
    </div>

    <div id="team2">
        <div class="ui container">
            <div class="ui middle aligned stackable grid">
                <div class="ten wide column">
                    <h2>ATL Tanishq</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu placerat eros, sed interdum lectus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan nulla velit, ac maximus arcu vulputate tincidunt. Ut maximus elit quis tempor dictum. Duis ornare ac arcu nec varius.</p>
                </div>
                <div class="six wide right floated column">
                    <img class="ui centered medium rounded image" src="img/teams/team2.jpg">
                </div>
            </div>
        </div>
    </div>

    <div id="team3">
        <div class="ui container">
            <div class="ui middle aligned stackable grid">
                <div class="ten wide column">
                    <h2>UTD Sharara</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu placerat eros, sed interdum lectus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan nulla velit, ac maximus arcu vulputate tincidunt. Ut maximus elit quis tempor dictum. Duis ornare ac arcu nec varius.</p>
                </div>
                <div class="six wide right floated column">
                    <img class="ui centered medium rounded image" src="img/teams/team3.jpg">
                </div>
            </div>
        </div>
    </div>

    <div id="team4">
        <div class="ui container">
            <div class="ui middle aligned stackable grid">
                <div class="ten wide column">
                    <h2>ASU Andaaz</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu placerat eros, sed interdum lectus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan nulla velit, ac maximus arcu vulputate tincidunt. Ut maximus elit quis tempor dictum. Duis ornare ac arcu nec varius.</p>
                </div>
                <div class="six wide right floated column">
                    <img class="ui centered medium rounded image" src="img/teams/team4.jpg">
                </div>
            </div>
        </div>
    </div>

    <div id="team5">
        <div class="ui container">
            <div class="ui middle aligned stackable grid">
                <div class="ten wide column">
                    <h2>GT Qurbani</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu placerat eros, sed interdum lectus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan nulla velit, ac maximus arcu vulputate tincidunt. Ut maximus elit quis tempor dictum. Duis ornare ac arcu nec varius.</p>
                </div>
                <div class="six wide right floated column">
                    <img class="ui centered medium rounded image" src="img/teams/team5.jpg">
                </div>
            </div>
        </div>
    </div>

    <div id="team6">
        <div class="ui container">
            <div class="ui middle aligned stackable grid">
                <div class="ten wide column">
                    <h2>UTD Chalak</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu placerat eros, sed interdum lectus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan nulla velit, ac maximus arcu vulputate tincidunt. Ut maximus elit quis tempor dictum. Duis ornare ac arcu nec varius.</p>
                </div>
                <div class="six wide right floated column">
                    <img class="ui centered medium rounded image" src="img/teams/team6.jpg">
                </div>
            </div>
        </div>
    </div>

    <div id="team7">
        <div class="ui container">
            <div class="ui middle aligned stackable grid">
                <div class="ten wide column">
                    <h2>ATL Satrangi</h2>
                    <p style="margin-top:12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu placerat eros, sed interdum lectus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan nulla velit, ac maximus arcu vulputate tincidunt. Ut maximus elit quis tempor dictum. Duis ornare ac arcu nec varius.</p>
                </div>
                <div class="six wide right floated column">
                    <img class="ui centered medium rounded image" src="img/teams/team7.png">
                </div>
            </div>
        </div>
    </div>

    <div id="team8">
        <div class="ui container">
            <div class="ui middle aligned stackable grid">
                <div class="ten wide column">
                    <h2>NCSU Nazaare</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu placerat eros, sed interdum lectus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan nulla velit, ac maximus arcu vulputate tincidunt. Ut maximus elit quis tempor dictum. Duis ornare ac arcu nec varius.</p>
                </div>
                <div class="six wide right floated column">
                    <img class="ui centered medium rounded image" src="img/teams/team8.jpg">
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/js %>
</body>
</html>
